@font-face {
  font-family: 'DecimaMono';
  src: url('decimamonopro-webfont.woff2');
}

@font-face {
  font-family: 'AtlasGroteskWeb';
  src: url('AtlasGrotesk-Regular-Web.woff2');
}

body {
  font-family: DecimaMono, Consolas, Monaco, monospace;
}

/* Game table */
table { 
  border-collapse: collapse; 
  border: 1px solid #3c3c3c;
  margin: auto;
}

td {
  padding: 1ex;
  width: 10ex;
  text-align: center;
}

td span.factors {
  font-size: 75%;
  color: #c3c3c3;
}

table td + td { border-left: 1px solid #3c3c3c; }
table tr + tr { border-top: 1px solid #3c3c3c; }
table td + td.rowProd { border-left: 2px solid #3c3c3c; }
table tr + tr.colProd { border-top: 2px solid #3c3c3c; }

/* Buttons */
#buttons {
  margin-top: 1ex;
  text-align: center;
}

a.button {
    border: 1px solid #3c3c3c;
    display: inline-block;
    background-color: transparent;
    padding: 1ex;
    width: 20ex;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    font-family: AtlasGroteskWeb,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-decoration: none;
    color: #3c3c3c;
}
